{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <ul>
        <h1>Catégories</h1>
        {% for categorie in categories %}
            <li>
                <p>{{ categorie.titre }}( {{ categorie.articles.count }} articles)
                    <a class="btn btn-primary" role="button" href="{{ path("app_categorie_slug",{slug: categorie.slug }) }}">Voir</a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
